In [6]:
!pwd

/home/ssoyik7239/downloads/jupyter_notebook

In [68]:
!ls

CLIP-35L33G.bam		guided_mission1.ipynb	 RNA-siLuc.bam.bai
CLIP-35L33G.bam.bai	read-counts.txt		 RPF-siLin28a.bam
CLIP-let7d.pileup	read-counts.txt.summary  RPF-siLin28a.bam.bai
CLIP-let7g.bam		RNA-control.bam		 RPF-siLuc.bam
CLIP-let7g-gene.pileup	RNA-control.bam.bai	 RPF-siLuc.bam.bai
CLIP-let7g.pileup	RNA-siLin28a.bam	 shannon_entropy.bedgraph
gencode.gtf		RNA-siLin28a.bam.bai	 transfer
gencode.gtf.gz		RNA-siLuc.bam

In [13]:
!bedtools

bedtools is a powerful toolset for genome arithmetic.

Version:   v2.31.1
About:     developed in the quinlanlab.org and by many contributors worldwide.
Docs:      http://bedtools.readthedocs.io/
Code:      https://github.com/arq5x/bedtools2
Mail:      https://groups.google.com/forum/#!forum/bedtools-discuss

Usage:     bedtools <subcommand> [options]

The bedtools sub-commands include:

[ Genome arithmetic ]
    intersect     Find overlapping intervals in various ways.
    window        Find overlapping intervals within a window around an interval.
    closest       Find the closest, potentially non-overlapping interval.
    coverage      Compute the coverage over defined intervals.
    map           Apply a function to a column for each overlapping interval.
    genomecov     Compute the coverage over an entire genome.
    merge         Combine overlapping/nearby intervals into a single interval.
    cluster       Cluster (but don't merge) overlapping/nearby intervals.
    complement    Extract intervals _not_ represented by an interval file.
    shift         Adjust the position of intervals.
    subtract      Remove intervals based on overlaps b/w two files.
    slop          Adjust the size of intervals.
    flank         Create new intervals from the flanks of existing intervals.
    sort          Order the intervals in a file.
    random        Generate random intervals in a genome.
    shuffle       Randomly redistribute intervals in a genome.
    sample        Sample random records from file using reservoir sampling.
    spacing       Report the gap lengths between intervals in a file.
    annotate      Annotate coverage of features from multiple files.

[ Multi-way file comparisons ]
    multiinter    Identifies common intervals among multiple interval files.
    unionbedg     Combines coverage intervals from multiple BEDGRAPH files.

[ Paired-end manipulation ]
    pairtobed     Find pairs that overlap intervals in various ways.
    pairtopair    Find pairs that overlap other pairs in various ways.

[ Format conversion ]
    bamtobed      Convert BAM alignments to BED (& other) formats.
    bedtobam      Convert intervals to BAM records.
    bamtofastq    Convert BAM records to FASTQ records.
    bedpetobam    Convert BEDPE intervals to BAM records.
    bed12tobed6   Breaks BED12 intervals into discrete BED6 intervals.

[ Fasta manipulation ]
    getfasta      Use intervals to extract sequences from a FASTA file.
    maskfasta     Use intervals to mask sequences from a FASTA file.
    nuc           Profile the nucleotide content of intervals in a FASTA file.

[ BAM focused tools ]
    multicov      Counts coverage from multiple BAMs at specific intervals.
    tag           Tag BAM alignments based on overlaps with interval files.

[ Statistical relationships ]
    jaccard       Calculate the Jaccard statistic b/w two sets of intervals.
    reldist       Calculate the distribution of relative distances b/w two files.
    fisher        Calculate Fisher statistic b/w two feature files.

[ Miscellaneous tools ]
    overlap       Computes the amount of overlap from two intervals.
    igv           Create an IGV snapshot batch script.
    links         Create a HTML page of links to UCSC locations.
    makewindows   Make interval "windows" across a genome.
    groupby       Group by common cols. & summarize oth. cols. (~ SQL "groupBy")
    expand        Replicate lines based on lists of values in columns.
    split         Split a file into multiple files with equal records or base pairs.
    summary       Statistical summary of intervals in a file.

[ General Parameters ]
     --cram-ref    Reference used by a CRAM input

[ General help ]
    --help        Print this help menu.
    --version     What version of bedtools are you using?.
    --contact     Feature requests, bugs, mailing lists, etc.

NameError: name 'bioawk' is not defined

In [17]:
conda install -y bioawk

Channels:
 - conda-forge
 - bioconda
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
!bioawk

usage: bioawk [-F fs] [-v var=value] [-c fmt] [-tH] [-f progfile | 'prog'] [file ...]

In [8]:
%cd ~/bioinfo_snu/bioinfo_project/guided_mission1/binfo1-datapack1

/home/ssoyik7239/bioinfo_snu/bioinfo_project/guided_mission1/binfo1-datapack1

In [10]:
!grep -i mirlet7g ./gencode.gtf

chr9	ENSEMBL	gene	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; gene_type "miRNA"; gene_name "Mirlet7g"; level 3; mgi_id "MGI:2676800";
chr9	ENSEMBL	transcript	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; transcript_id "ENSMUST00000083506.3"; gene_type "miRNA"; gene_name "Mirlet7g"; transcript_type "miRNA"; transcript_name "Mirlet7g-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676800"; tag "basic";
chr9	ENSEMBL	exon	106056039	106056126	.	+	.	gene_id "ENSMUSG00000065440.3"; transcript_id "ENSMUST00000083506.3"; gene_type "miRNA"; gene_name "Mirlet7g"; transcript_type "miRNA"; transcript_name "Mirlet7g-201"; exon_number 1; exon_id "ENSMUSE00000522665.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676800"; tag "basic";

In [13]:
!samtools view -b -o CLIP-let7g.bam ./CLIP-35L33G.bam chr9:106056039-106056126

In [15]:
!samtools view CLIP-let7g.bam | wc -l

163

In [17]:
!samtools mpileup CLIP-let7g.bam > CLIP-let7g.pileup
!wc -l CLIP-let7g.pileup

[mpileup] 1 samples in 1 input files
68548 CLIP-let7g.pileup

In [20]:
!head CLIP-let7g.pileup

chr9	106007092	N	9	^Ga^Ia^Ha^Ia^Ga^Ga^Ha^Ia^Ia	<IFIGGHII
chr9	106007093	N	9	ggggggggg	AFGIEGDII
chr9	106007094	N	9	ccccccccc	EHHIGAFEH
chr9	106007095	N	9	aaaaaaaaa	?HDIFA>II
chr9	106007096	N	9	aaaaaaaaa	EHHIG@CHH
chr9	106007097	N	9	ttttttttt	=HGEGDFII
chr9	106007098	N	9	aaaaaaaaa	?HHIGDEII
chr9	106007099	N	9	g-2nng-2nng-2nng-2nng-2nng-2nng-2nng-2nng-2nn	?IEHGEDII
chr9	106007100	N	9	*********	8IBIBC@EI
chr9	106007101	N	9	*********	8IBIBC@EI

In [22]:
!awk '$2 >= 106056039 && $2 <= 106056126 { print $0; }' CLIP-let7g.pileup > CLIP-let7g-gene.pileup
!tail CLIP-let7g-gene.pileup

chr9	106056117	N	138	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIHGHII:;HGIIDGGGIIBGEB?>H<GGIIIIDIIGFHIHH9IGG=GGHIDH?DGIBIIHHGGIEIGI8GIDHDG.GGHEDIIDIDGDHIDGIFGHG;DCDDHEE@I?CGG:IHGIBGIHIIDG@DHIGG
chr9	106056118	N	139	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIHGHII3AHIIIDGGGIIB3EHFBH>GIIIIIIIIIHIIHHAIIGBDGHIDH?GIIGIIHHDIIHIGIGGI=BGG9GIHHHIIGI=IAIIGGIEHGIEBG@DHDE;IBDGG4IGGIGGIIIIGGGDGIH1G
chr9	106056119	N	138	<<<<<<<<<TTTTTTTTTTTTTTTTTTTTTTTTTT$TTTT$TTTTTTTTTTTTTTT$TTTT$TTTTTTT$TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	BHEIG?DIIGEFII:/GIIEDDHDIIF>BH3<HBEGIHIGFIIIBIIBE:HHGD>EGGDH7BIIGGIHHDHIHDEIGEIDHGG;GIHGHHIGD:IGHD:GGEHH?3G87HD</I=DGG=IHHIHBIFII@<HDHHH1G
chr9	106056120	N	133	<<<<<<<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTT$TTTT$TTT$TTTTTTTTTT$TTTTTTTT$TTTTTTTTTTTT$T$TTTTTT$TTTT$TT$TTTTTTTTTTTTTTTTTTT$TTTTTTTTTTTTTTTTTTTTTTTTTTT	BHEIG?DIIHFBII74BIIIGDIIIIA8DHECHBIIIIIIIIHIIHB?IDGGGFDH?GIIIIHH@GHHGEDDGIEHBEDIHHGIIGI:HBII8DIIHHIBDD;<HDD3HB?@G?HHIIHIIIIIB@HDHDH8G
chr9	106056121	N	118	<<<<<<<<<GGGGGGGGGGGGGGGGGGGG$G$G$G$G$G$G$G$GGGGGG$GG$GGGG$GG$GGGG$G$GGG$GGG$GGG$GGGG$GGGGG$GGGGGGGGG$GGGGGG$GG$GGG$GGG$GGGG$G$GG$GGGGGG$GGGG$G$G$G$G$G$	BHEIG?DIIB<EDI/7BHHFB<FGHI3?GG>HAIHIFEF@H<<2>D3EE;HBAIIIBH4IHG@DI>G482GGFHID:I9II@BH@>HE8@;<HGI:GGBIDEIBIGIIIE?G@EIH7G
chr9	106056122	N	88	<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$C$C$C$C$CCC$C$C$C$CC$C$CC$CC$C$C$C$C$C$C$C$C$C$C$C$C$C$CC$C$C$C$C$C$CC$CC$C$CCC$C$C$C$C$CCCCC$CCC$C	BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=HHIIEBHD>EIHIG=I:HGBIIEF?E;DB3HB<GIHIHHEADF
chr9	106056123	N	31	<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC	BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
chr9	106056124	N	31	<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA	BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
chr9	106056125	N	31	<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG	BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
chr9	106056126	N	30	<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG	BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG

In [24]:
import pandas as pd

pileup = pd.read_csv('CLIP-let7g-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

,chrom,pos,_ref,count,basereads,quals
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG

In [26]:
import re
toremove = re.compile('[<>$*#^]')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [28]:
pileup[['chrom', 'pos', 'matches']]

   chrom        pos                                            matches
0   chr9  106056039
1   chr9  106056040
2   chr9  106056041
3   chr9  106056042
4   chr9  106056043
..   ...        ...                                                ...
83  chr9  106056122  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
84  chr9  106056123                             CCCCCCCCCCCCCCCCCCCCCC
85  chr9  106056124                             AAAAAAAAAAAAAAAAAAAAAA
86  chr9  106056125                             GGGGGGGGGGGGGGGGGGGGGG
87  chr9  106056126                              GGGGGGGGGGGGGGGGGGGGG

[88 rows x 3 columns]

In [30]:
pileup[pileup['pos'] == 106056094].iloc[0]['matches']

'GGGGGGAAAAAAAAGGGGGAAAAAAGCCGCAGGATGAGGTGATAAGGGAGGGGTGAAGGGCGGTGAAGGGGAAAAGAGAAAGAAAAATAAAGGGGGAGTGGGAGGAAGAAGAGAATA'

In [31]:
!ls

CLIP-35L33G.bam		guided_mission1.ipynb	 RNA-siLuc.bam
CLIP-35L33G.bam.bai	read-counts.txt		 RNA-siLuc.bam.bai
CLIP-let7g.bam		read-counts.txt.summary  RPF-siLin28a.bam
CLIP-let7g-gene.pileup	RNA-control.bam		 RPF-siLin28a.bam.bai
CLIP-let7g.pileup	RNA-control.bam.bai	 RPF-siLuc.bam
gencode.gtf		RNA-siLin28a.bam	 RPF-siLuc.bam.bai
gencode.gtf.gz		RNA-siLin28a.bam.bai	 transfer

In [33]:
import pandas as pd
import re

In [36]:
pileup = pd.read_csv('CLIP-let7g-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])

In [38]:
# clean up 수행하기

toremove = re.compile('[<>$*#^]')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [40]:

# function to count bases

def count_bases(reads):
    base_count = {'A': 0, 'T': 0, 'C': 0, 'G': 0}
    for base in reads:
        if base in base_count:
            base_count[base] += 1
    return base_count

pileup['base_counts'] = pileup['matches'].apply(count_bases)

In [42]:
pileup['base_counts'] = pileup['matches'].apply(count_bases)

In [44]:
pileup

,chrom,pos,_ref,count,basereads,quals,matches,base_counts
0,chr9,106056039,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}"
1,chr9,106056040,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}"
2,chr9,106056041,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}"
3,chr9,106056042,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}"
4,chr9,106056043,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}"
...,...,...,...,...,...,...,...,...
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,"{'A': 0, 'T': 0, 'C': 79, 'G': 0}"
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH,CCCCCCCCCCCCCCCCCCCCCC,"{'A': 0, 'T': 0, 'C': 22, 'G': 0}"
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH,AAAAAAAAAAAAAAAAAAAAAA,"{'A': 22, 'T': 0, 'C': 0, 'G': 0}"
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD,GGGGGGGGGGGGGGGGGGGGGG,"{'A': 0, 'T': 0, 'C': 0, 'G': 22}"
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG,GGGGGGGGGGGGGGGGGGGGG,"{'A': 0, 'T': 0, 'C': 0, 'G': 21}"

In [46]:
# 2. Shanno Entropy

import math

def shannon_entropy(base_count):
    total = sum(base_count.values())
    entropy = 0
    for count in base_count.values():
        if count > 0:
            p = count / total
            entropy -= p * math.log2(p)
    return entropy

pileup['entropy'] = pileup['base_counts'].apply(shannon_entropy)

In [49]:
pileup

,chrom,pos,_ref,count,basereads,quals,matches,base_counts,entropy
0,chr9,106056039,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}",0.0
1,chr9,106056040,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}",0.0
2,chr9,106056041,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}",0.0
3,chr9,106056042,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}",0.0
4,chr9,106056043,N,9,<<<<<<<<<,BHEIG?DII,,"{'A': 0, 'T': 0, 'C': 0, 'G': 0}",0.0
...,...,...,...,...,...,...,...,...,...
83,chr9,106056122,N,88,<<<<<<<<<C$C$C$C$C$C$C$C$C$C$C$C$C$CCCCCC$C$C$...,BHEIG?DIIEEGIIC;GIHEGBIIIIB1=FII?FEIGGGHDBIG=H...,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,"{'A': 0, 'T': 0, 'C': 79, 'G': 0}",0.0
84,chr9,106056123,N,31,<<<<<<<<<CCCCCCCCCCCCCCCCCCCCCC,BHEIG?DIIIIII>GIGGIGGD>BIHHHIEH,CCCCCCCCCCCCCCCCCCCCCC,"{'A': 0, 'T': 0, 'C': 22, 'G': 0}",0.0
85,chr9,106056124,N,31,<<<<<<<<<AAAAAAAAAAAAAAAAAAAAAA,BHEIG?DIIIIHIGGIGGGIG:9DDBIEGFH,AAAAAAAAAAAAAAAAAAAAAA,"{'A': 22, 'T': 0, 'C': 0, 'G': 0}",0.0
86,chr9,106056125,N,31,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIIIGGE@GFIGD;GIGIIFHD,GGGGGGGGGGGGGGGGGGGGGG,"{'A': 0, 'T': 0, 'C': 0, 'G': 22}",0.0
87,chr9,106056126,N,30,<<<<<<<<<GGGGGGGGGGGGGGGGGGGGG,BHEIG?DIIIIGHGHIGHI>G;GGGIGIHG,GGGGGGGGGGGGGGGGGGGGG,"{'A': 0, 'T': 0, 'C': 0, 'G': 21}",0.0

In [51]:
print(pileup.iloc[:10][['pos', 'entropy']])

         pos   entropy
0  106056039  0.000000
1  106056040  0.000000
2  106056041  0.000000
3  106056042  0.000000
4  106056043  0.000000
5  106056044  0.000000
6  106056045  0.676942
7  106056046  0.000000
8  106056047  0.000000
9  106056048  0.000000

In [55]:
bedgraph_data = pileup[['chrom', 'pos', 'pos', 'entropy']]
bedgraph_data.columns = ['chrom', 'start', 'end', 'value']

In [58]:
print(bedgraph_data)

   chrom      start        end  value
0   chr9  106056039  106056039    0.0
1   chr9  106056040  106056040    0.0
2   chr9  106056041  106056041    0.0
3   chr9  106056042  106056042    0.0
4   chr9  106056043  106056043    0.0
..   ...        ...        ...    ...
83  chr9  106056122  106056122    0.0
84  chr9  106056123  106056123    0.0
85  chr9  106056124  106056124    0.0
86  chr9  106056125  106056125    0.0
87  chr9  106056126  106056126    0.0

[88 rows x 4 columns]

In [61]:
bedgraph_data.to_csv('shannon_entropy.bedgraph', sep='\t', header=False, index=False)
print("BedGraph file saved as 'shannon_entropy.bedgraph'")

BedGraph file saved as 'shannon_entropy.bedgraph'

In [65]:
!pwd

/home/ssoyik7239/bioinfo_snu/bioinfo_project/guided_mission1/binfo1-datapack1

In [69]:
!ls

CLIP-35L33G.bam		guided_mission1.ipynb	 RNA-siLuc.bam.bai
CLIP-35L33G.bam.bai	read-counts.txt		 RPF-siLin28a.bam
CLIP-let7d.pileup	read-counts.txt.summary  RPF-siLin28a.bam.bai
CLIP-let7g.bam		RNA-control.bam		 RPF-siLuc.bam
CLIP-let7g-gene.pileup	RNA-control.bam.bai	 RPF-siLuc.bam.bai
CLIP-let7g.pileup	RNA-siLin28a.bam	 shannon_entropy.bedgraph
gencode.gtf		RNA-siLin28a.bam.bai	 transfer
gencode.gtf.gz		RNA-siLuc.bam

In [71]:
!grep -i mirlet7d ./gencode.gtf

chr13	ENSEMBL	gene	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; gene_type "miRNA"; gene_name "Mirlet7d"; level 3; mgi_id "MGI:2676796";
chr13	ENSEMBL	transcript	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";
chr13	ENSEMBL	exon	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; exon_number 1; exon_id "ENSMUSE00000522678.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";

In [72]:
!grep -i mirlet7f-1 ./gencode.gtf

chr13	ENSEMBL	gene	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; level 3; mgi_id "MGI:2676798";
chr13	ENSEMBL	transcript	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; transcript_id "ENSMUST00000198652.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; transcript_type "miRNA"; transcript_name "Mirlet7f-1-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676798"; tag "basic";
chr13	ENSEMBL	exon	48691305	48691393	.	-	.	gene_id "ENSMUSG00000105621.3"; transcript_id "ENSMUST00000198652.3"; gene_type "miRNA"; gene_name "Mirlet7f-1"; transcript_type "miRNA"; transcript_name "Mirlet7f-1-201"; exon_number 1; exon_id "ENSMUSE00001348852.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676798"; tag "basic";

In [77]:
!samtools view -b -o CLIP-let7d.bam ./CLIP-35L33G.bam chr13:48689488-48689590
!samtools view -b -o CLIP-let7f-1.bam ./CLIP-35L33G.bam chr13:48691305-48691393

!samtools mpileup CLIP-let7d.bam > CLIP-let7d.pileup
!samtools mpileup CLIP-let7f-1.bam > CLIP-let7f-1.pileup

[mpileup] 1 samples in 1 input files
[mpileup] 1 samples in 1 input files

In [78]:
import pandas as pd
import re
import math

def count_bases(reads):
    base_count = {'A': 0, 'T': 0, 'C': 0, 'G': 0}
    for base in reads:
        if base in base_count:
            base_count[base] += 1
    return base_count

def shannon_entropy(base_count):
    total = sum(base_count.values())
    entropy = 0
    for count in base_count.values():
        if count > 0:
            p = count / total
            entropy -= p * math.log2(p)
    return entropy

pileup_d = pd.read_csv('CLIP-let7d.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])

toremove = re.compile('[<>$*#^]')
pileup_d['matches'] = pileup_d['basereads'].apply(lambda x: toremove.sub('', x))

pileup_d['base_counts'] = pileup_d['matches'].apply(count_bases)
pileup_d['entropy'] = pileup_d['base_counts'].apply(shannon_entropy)

bedgraph_data_d = pileup_d[['chrom', 'pos', 'pos', 'entropy']]
bedgraph_data_d.columns = ['chrom', 'start', 'end', 'value']

bedgraph_data_d = bedgraph_data_d.copy()
bedgraph_data_d.loc[:, 'end'] = bedgraph_data_d['start'] + 1

bedgraph_data_d.to_csv('shannon_entropy_d.bedgraph', sep='\t', header=False, index=False)

print(bedgraph_data_d.head(10))

   chrom     start       end  value
0  chr13  48689488  48689489    0.0
1  chr13  48689489  48689490    0.0
2  chr13  48689490  48689491    0.0
3  chr13  48689491  48689492    0.0
4  chr13  48689492  48689493    0.0
5  chr13  48689493  48689494    0.0
6  chr13  48689494  48689495    0.0
7  chr13  48689495  48689496    0.0
8  chr13  48689496  48689497    0.0
9  chr13  48689497  48689498    0.0

In [81]:
pileup_f1 = pd.read_csv('CLIP-let7f-1.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])

toremove = re.compile('[<>$*#^]')
pileup_f1['matches'] = pileup_f1['basereads'].apply(lambda x: toremove.sub('', x))

pileup_f1['base_counts'] = pileup_f1['matches'].apply(count_bases)
pileup_f1['entropy'] = pileup_f1['base_counts'].apply(shannon_entropy)

bedgraph_data_f1 = pileup_f1[['chrom', 'pos', 'pos', 'entropy']]
bedgraph_data_f1.columns = ['chrom', 'start', 'end', 'value']

bedgraph_data_f1 = bedgraph_data_f1.copy()
bedgraph_data_f1.loc[:, 'end'] = bedgraph_data_f1['start'] + 1

bedgraph_data_f1.to_csv('shannon_entropy_f1.bedgraph', sep='\t', header=False, index=False)

print(bedgraph_data_f1.head(10))

   chrom     start       end  value
0  chr13  48691290  48691291    0.0
1  chr13  48691291  48691292    0.0
2  chr13  48691292  48691293    0.0
3  chr13  48691293  48691294    0.0
4  chr13  48691294  48691295    0.0
5  chr13  48691295  48691296    0.0
6  chr13  48691296  48691297    0.0
7  chr13  48691297  48691298    0.0
8  chr13  48691298  48691299    0.0
9  chr13  48691299  48691300    0.0